.container {
	width: 100vw;
	height: 100vh;
	
	display:flex;
	flex-direction:column;
	
	position:absolute;
	background: #555;



}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;

	span {
		display: block;
		text-align: center;

		&:first-child {
			font-size: 14px;
		}
		&:last-child {
			font-size: 12px;
			font-weight: 600;
		}
	}
}

.img--container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow:1;

	.img {
		height: 80vw;
		width: 80vw;
		background: #222;
	}
}

.controls--container{
	padding-bottom:1rem;
}
.song--container {
	display: flex;
	padding: 1rem 1rem;

	align-items: center;

	.song {
		flex-grow: 1;

		.name {
			font-size: 18px;
			font-weight: 600;
		}
		.artist {
			font-size: 16px;
		}
	}
}

.progressbar--container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1.2rem;
	padding-top: 0.2rem;
	// padding-bottom:-0.5rem;

	input[type="range"] {
		width: 100%;

		height: 4px;
		margin-bottom: 0.2rem;
		background: #8883;
	}
	span {
		font-size: 12px;
	}
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.2rem;

	button {
		&:nth-child(3n) {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
}

.subControls {
	display: flex;
	padding: 0 1rem;
	margin-top: 0.8rem;

	button {
		width: 1rem;
		height: 1rem;
		margin-right: 1rem;
		&:first-child {
			margin-right: auto;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
