
.container {
	display: flex;
	align-items: center;

	margin: 0 1rem 1rem;
	border-radius: 5px;
	background: #666;
	position: relative;
	padding: 0.5rem;

	button {
		height: 26px;
		width: 26px;
		border-radius: 50%;
		border: none;
		margin-left: 0.5rem;
	}
}

.img {
	height: 35px;
	width: 35px;
	background: gray;
	// margin:0.25rem 0;
}

.description {
	margin-left: 0.5rem;
	flex-grow: 1;

	.name,
	.artist {
		display: block;
		font-size: 14px;
	}

	.name {
		font-weight: 600;
	}
}

.progressbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 3px;

	margin: 0 0.5rem;
	border-radius: 5px;

	// width: inherit;
	background: #044;
	overflow: hidden;

	div {
		width: 75%;
		height: 100%;
		background: #0b8;
	}
}
